<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Goodbye - LBYCPEI Pokémon App</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="root" style="align-items:center; justify-content:center; display:flex; height:100vh;">
    <div class="message-label" style="text-align:center;">
        Thanks for using the LBYCPEI Pokémon App!<br>
        <a th:href="@{/}" style="color:#f1c40f;">Return to the collection</a>
    </div>
</div>
</body>
</html>